{% load static %}
<footer class="footer">
    <div class="footer__logo">
        <img src={% static "img/logo2.svg" %} alt="Логотип" class="footer__logo">
    </div>
    <div class="footer__refs">
        <ul class="footer__lnk">
            <li><a href="{% url "how_to_apply" %}">ОФОРМЛЕННЯ ТУРУ</a></li>
            <li><a href="{% url "documents" %}">ДОКУМЕНТИ</a></li>
            <li><a href="{% url "galery" %}">ФОТОГАЛЕРЕЯ</a></li>
            <li><a href="#">КОНТАКТИ</a></li>
        </ul>
    </div>
</footer>