{% extends 'base.html' %}
{% load static %}
{% block main %}

    <header class="header background">
        <img src={% static "img/logo2.svg" %} alt="Логотип" class="header__logo">
        <div class="header__menu" onclick="openNav()">&equiv;</div>
        <div class="header__box">
            <h1 class="title-first">
                <span class="title-first__main text-color-white">ТУР ВАШОЇ МРІЇ ЧЕКАЄ НА ВАС</span>
                <span class="title-first__secondary text-color-white">ЗАЛИШТЕ ПРИЄМНІ СПОГАДИ НА ВСЕ ЖИТТЯ</span>
            </h1>
            <a href="#tours" class="btn background-white">ОБРАТИ ТУР</a>
            <a href="#holidays" class="btn background-white">ОБРАТИ ПОЇЗДКУ ВИХІДНОГО ДНЯ</a>
        </div>
    </header>
    {% if user.username == "superadmin" %}
    <section class="our-tours margin-bottom-30">
        <div>
            <h2 class="section-title text-color-turq" id="tours">НАШІ ТУРИ</h2>
            <div class="text-center margin-bottom-30">
                <a href={% url "new_tour" %} class="btn background-turq">Створити тур</a>
                <a href={% url "create_tour" %} class="btn background-turq">Створити тур автоматично</a>
            </div>
        </div>
        <div class="our-tours__wrapper">
            {% for tour in tours %}
                <div class="our-tours__card text-color-white" style="background: linear-gradient(90deg, rgba(70, 70, 70, 0.5) 0.03%, rgba(70, 70, 70, 0.5) 99.94%), url({{ tour.image3Section2.url }}) center / cover no-repeat;">
                    <h2>{{ tour.title1 }}</h2>
                    <a class="btn2 background-white" href="{% url 'tour' tour.pk %}">ДЕТАЛЬНІШЕ</a>
                    <a class="btn2 background-white" href="{% url 'edit_tour' tour.pk %}">РЕДАГУВАТИ</a>
                    <a class="btn2 background-white" href="{% url 'change_tour' tour.pk %}">ПЕРЕПИСАТИ</a>
                    <a class="btn2 background-white" href="{% url 'activate_tour' tour.pk %}">{% if tour.isActive %}ДЕАКТИВУВАТИ{% else %}АКТИВИРОВАТЬ{% endif %}</a>
                    <a class="btn2 background-white" href="{% url 'delete_tour' tour.pk %}">ВИДАЛИТИ</a>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="our-tours margin-bottom-80">
        <div>
            <h2 class="section-title text-color-turq" id="holidays">ПОЇЗДКИ ВИХІДНОГО ДНЯ</h2>
            <div class="text-center margin-bottom-30">
                <a href={% url "new_tour" %} class="btn background-turq">Створити поїздку</a>
                <a href={% url "create_holiday" %} class="btn background-turq">Створити поїздку автоматично</a>
            </div>
        </div>
        <div class="our-tours__wrapper">
            {% for tour in holidays %}
                <div class="our-tours__card text-color-white" style="background: linear-gradient(90deg, rgba(70, 70, 70, 0.5) 0.03%, rgba(70, 70, 70, 0.5) 99.94%), url({{ tour.image3Section2.url }}) center / cover no-repeat;">
                    <h2>{{ tour.title1 }}</h2>
                    <a class="btn2 background-white" href="{% url 'tour' tour.pk %}">ПОДРОБНЕЕ</a>
                    <a class="btn2 background-white" href="{% url 'edit_tour' tour.pk %}">РЕДАКТИРОВАТЬ</a>
                    <a class="btn2 background-white" href="{% url 'change_tour' tour.pk %}">ПЕРЕПИСАТЬ</a>
                    <a class="btn2 background-white" href="{% url 'activate_tour' tour.pk %}">{% if tour.isActive %}ДЕАКТИВИРОВАТЬ{% else %}АКТИВИРОВАТЬ{% endif %}</a>
                    <a class="btn2 background-white" href="{% url 'delete_tour' tour.pk %}">УДАЛИТЬ</a>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="inclusive" style="background: linear-gradient(90deg, rgba(70, 70, 70, 0.5) 0.03%, rgba(70, 70, 70, 0.5) 99.94%), url({% static "img/turkey1.jpg" %}) center / cover no-repeat;">
        <div>
            <h2 class="section-title text-color-white">ЧОМУ ВАРТО ОБИРАТИ НАС?</h2>
        </div>
        <div class="text-center margin-bottom-30">
            <a href="{% url "new_why_we"%}" class="btn background-white">ДОДАТИ КАРТКУ</a>
        </div>
        <div class="inclusive__wrapper">
            {% for card in why_we %}
                <div class="inclusive__card">
                    <img src="{{card.icon.icon.url}}" alt="">
                    <h3>{{card.title}}</h3>
                    <p>{{card.description}}</p>
                    <a href="{% url 'change_why_we' card.pk %}"><img src={% static "img/edit_black.svg" %} alt="Редактировать" class="edit__img"></a>
                    <a href="{% url 'delete_why_we' card.pk %}"><img src={% static "img/delete_black1.svg" %} alt="Редактировать" class="delete__img"></a>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="section-feedback">
        <div>
            <h2 class="section-title text-color-turq">ВІДГУКИ НАШИХ КЛІЄНТІВ</h2>
        </div>
        <div class="section-feedback__wrapper">
            {% for review in reviews %}
            <div class="section-feedback__feedback">
                <div>
                    <img src={% static "img/star-turq.svg" %} alt="Відгук">
                </div>
                <div>
                    <p><span>{{review.name}}</span> {{review.date}}</p>
                    <p><a href="{% url 'tour' review.tour.pk %}">{{review.tour}}</a></p>
                    <p>{{review.review|safe}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href={% url "new_review_title" %} class="btn background-white">Додати коментар</a>
        <a href={% url "all_reviews" %} class="btn background-white">Усі коментарі</a>
        <a href={% url "user_logout" %} class="btn background-white">ВИХІД З СИСТЕМИ</a>
    </section>
{% else %}
<a href={% url "user_login" %} class="btn background-white">АВТОРИЗУЙТЕСЬ</a>
{% endif %}
{% endblock %}