{% extends 'base.html' %}
{% load static %}
{% block main %}

    <header class="header background">
        <a href="{% url 'home' %}"><img src={% static "img/logo2.svg" %} alt="Логотип" class="header__logo"></a>
        <div class="header__menu" onclick="openNav()">&equiv;</div>
        <div class="header__box">
            <h1 class="title-first">
                <span class="title-first__main text-color-white">НЕОБХІДНІ ДОКУМЕНТИ</span>
            </h1>
        </div>
    </header>
    <br><br>
    <section class="shedule">
        <div class="shedule__wrapper">
            <div class="shedule__photo">
                <div class="shedule__myslide">
                    <img src={% static "img/woman.jpg" %} alt="Для жінок">
                </div>
            </div>
            <div class="shedule__text">
                <h3>ДЛЯ ЖІНОК</h3>
                <p>
                    <ul>
                        <li>Паспорт громадянина України</li>
                        <li>Закордонний паспорт</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="shedule__wrapper">
            <div class="shedule__photo">
                <div class="shedule__myslide">
                    <img src={% static "img/man.jpg" %} alt="Для чоловіків">
                </div>
            </div>
            <div class="shedule__text">
                <h3>ДЛЯ ЧОЛОВІКІВ</h3>
                <p>
                    <ul>
                        <li>Паспорт громадянина України</li>
                        <li>Закордонний паспорт</li>
                        <li>На період воєнного стану потрібен документ, що надає право на виїзд (довідка про встановлення інвалідності, документи з територіальних центрів комплектування та соціальної підтримки, посвідчення батька багатодітної сім'ї тощо)</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="shedule__wrapper">
            <div class="shedule__photo">
                <div class="shedule__myslide">
                    <img src={% static "img/children.jpg" %} alt="Для дітей">
                </div>
            </div>
            <div class="shedule__text">
                <h3>ДОКУМЕНТИ ДЛЯ ПЕРЕТИНУ КОРДОНУ З ДІТЬМИ</h3>
                <p>
                    <ul>
                        <li>Свідоцтво про народження дитини до 14 років / паспорт громадянина України з 14 років</li>
                        <li>Додаткові документи, що підтверджують родинні зв'язки з дитиною. Якщо у матері та дитини різні прізвища, в такому разі додатково може знадобитися: свідоцтво про шлюб або рішення суду про розірвання шлюбу тощо</li>
                        <li>Закордонний паспорт матері (батька)</li>
                        <li>Закордонний паспорт дитини (не потрібен при внесенні інформації про дитину до закордонного паспорта матері)</li>
                        <li>Письмовий дозвіл другого з батьків на виїзд дитини</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="shedule__wrapper">
            <div class="shedule__photo">
                <div class="shedule__myslide">
                    <img src={% static "img/pets.jpg" %} alt="З тваринами">
                </div>
            </div>
            <div class="shedule__text">
                <h3>ДОКУМЕНТИ ДЛЯ ПЕРЕТИНУ КОРДОНУ З ТВАРИНАМИ</h3>
                <p>
                    <ul>
                        <li>Тварина має бути щеплена проти сказу не раніше ніж за 30 днів до виїзду</li>
                        <li>Мати довідку про стан здоров'я, видану за п'ять днів до виїзду</li>
                        <li>Мати ідентифікацію клеймом або мікрочіпом (має відповідати стандартам ISO 11784, ISO 11785)</li>
                        <li>Тест на антитіла</li>
                        <li>Міжнародний ветеринарний сертифікат на тварину</li>
                        <li>Довідку про те, що ваш улюбленець не є племінною цінністю</li>
                        <li>Паспорт європейського зразка, який має містити:
                            <br>1. відмітку про комплексну вакцинацію проти вірусних хвороб (остання вакцинація має бути проведена не пізніше 30 днів і не раніше одного року до дати від'їзду);
                            <br>2. фото тварини до досягнення нею одного року;
                            <br>3. позначку про чипування із зазначенням дати чіпування та локалізації мікрочіпа;
                            <br>4. інформацію про вакцинацію проти сказу (назва вакцини, підпис, друк, дата);
                            <br>5. інформацію про обробки проти екто- та ендопаразитів (проти бліх та глистів)</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="shedule__wrapper">
            <div class="shedule__photo">
                <div class="shedule__myslide">
                    <img src={% static "img/tourists.jpg" %} alt="Додатково">
                </div>
            </div>
            <div class="shedule__text">
                <h3>ДОДАТКОВО</h3>
                <p>
                    <ul>
                        <li><b>Чоловіки з інвалідністю</b> - посвідчення, що підтверджує відповідний статус, або пенсійне посвідчення, або посвідчення, що підтверджує призначення соціальної допомоги</li>
                        <li><b>Заброньовані на період мобілізації та воєнний час</b> — посвідчення про відстрочку від призову (бронь) та документи на відрядження</li>
                        <li><b>Багатодітний батько чи мати</b> – свідоцтво про народження всіх дітей, посвідчення батьків багатодітної сім'ї</li>
                        <li><b>Чоловік або жінка, які самостійно виховують малолітніх дітей</b> - свідоцтво про смерть чоловіка (дружини) та свідоцтво про народження всіх дітей</li>
                        <li><b>Опікуни, прийомні батьки тощо, на утриманні яких перебувають діти</b> - сироти або діти, позбавлені батьківського піклування, віком до 18 років — документ, що підтверджує усиновлення, опікунство, піклування, а також письмове узгодження служби у справах дітей за місцем звернення або обласної військової адміністрації</li>
                        <li><b>Особи, які мають дружину (чоловіка) з числа осіб з інвалідністю</b> - документ, що підтверджує інвалідність та родинні зв'язки</li>
                    </ul>
                </p>
            </div>
        </div>
    </section>

{% endblock %}